<h2 id='page_title'>New Page</h2>

<form {{action 'submit'}}>
  {{input value=model.title id='title_field' placeholder='Title'}}
  {{input value=model.caption id='caption_field' placeholder='Caption'}}
  {{input type='button' value='Submit' id='submit_button'}}
</form>