<h2 id='page_title'>{{model.title}}</h2>
{{partial 'pages/show'}}
{{#if model.previous}}
  {{#link-to 'pages.show' model.previous.slug id='previous_page_link'}}Previous{{/link-to}}
{{/if}}
{{#if model.next}}
  {{#link-to 'pages.show' model.next.slug id='next_page_link'}}Next{{/link-to}}
{{/if}}