<form {{action 'authenticate' on='submit'}}>
  {{input id='identification_field' value=identification placeholder='email'}}
  {{input id='password_field' value=password placeholder='password' type='password'}}
  <button id='login_button' type='submit'>Login</button>
</form>